* {
    margin: 0;
    padding: 0;
}

.main {
    /* overflow-y: scroll; */
    /* height: 300vh; */
    display: flex;
    flex-direction: column;
    /* scroll-snap-type: mandatory; */
}

.main section{
    scroll-snap-align: start;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 81.8%; */
    height: 100vh;
    /* background-color: red; */
}