* {
  margin: 0;
  padding: 0;
}

.intro {
  height: 100%;
  display: flex;
  margin: 40px;
  /*flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

#intro {
  background-color: #201f41;
}

.intro-text {
  /* border: 2px solid white; */
  padding: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: white;
  width: 61.8%;
}

.intro-image {
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38.2%;
}

.intro-image img {
  box-shadow: 9px 9px 0px #201f41, 10px 10px 0px white, -8px -8px 0px #201f41,
    -10px -10px 0px white;
  width: 69%;
}

.heading {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin: 10px;
  gap: 7px;
}

.hello {
  display: flex;
}

.hello h1 {
  font-size: 48px;
}

.hello h1:hover {
  text-shadow: 0px 0px 5px white;
}

.heading p {
  color: rgba(255, 255, 255, 0.5);
  font-size: small;
}
